.cart-item {
  display: grid;
  grid-template-columns: 10fr 20fr 20fr 15fr 20fr;
  align-items: center;
  justify-items: flex-start;
  column-gap: 3.2rem;
  border-radius: 11px;
  box-shadow: 0 1.6rem 2rem rgba(0, 0, 0, 0.03);
  overflow: hidden;
}

.cart-item--name {
  font-size: 2rem;
  font-weight: 600;
}

.cart-item--price {
  font-size: 2rem;
  font-weight: 400;
}

.cart-item--total {
  font-size: 2.4rem;
  font-weight: 800;
}
