.product-card--button {
  background-color: #84fb95;
  background-image: linear-gradient(315deg, #84fb95 0%, #cef576 74%);
}

.product-card--button:hover svg {
  transform: translateX(2.8em) scale(1.6);
}

.clicked:hover svg {
  transform: none !important;
}

.clicked:hover span {
  transform: none !important;
}
