.cart_item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart_item_image {
  width: 10rem;
}

.cart_item_column {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  width: 15rem;
  align-self: center;
}

.cart_item_name {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
}

.cart_item_price {
  font-weight: 400;
  margin: 0;
}

.cart_item_total {
  font-size: 1.5rem;
  font-weight: 700;
  width: 10rem;
  margin-left: 5rem;
}
