.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $size_6;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  padding: 1rem 4rem;
}

.nav_bar * {
  cursor: pointer;
}

.nav_bar_logo {
  display: flex;
  align-items: center;
  width: 30%;
}

.nav_bar_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
}

.nav_bar_container * {
  margin: 0 $size_4;
}
