.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $size_6;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  padding: 1.2rem 2.4rem;
}

.nav-bar--logo {
  display: flex;
  align-items: center;
}

.nav-bar--container {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  justify-content: flex-end;
}

.nav-bar--container * {
  margin: 0 $size_4;
}

.nav-item {
  font-size: 1.6rem;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.nav-item--active {
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid currentColor;
}

.nav-item:hover {
  color: #000;
  border-bottom: 1px solid currentColor;
}

.nav-button {
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.nav-button:hover {
  color: #000;
  border-bottom: 1px solid currentColor;
}

.nav-bar--mobile {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.nav-bar--mobile-menu {
  display: block;
}

.nav-bar--mobile-close {
  display: none;
}
