.order_item_cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;
  padding-right: 2rem;

  border-radius: $size_4;
  background: linear-gradient(225deg, #cacaca, #f0f0f0);
  box-shadow: -25px 25px 50px #bebebe, 25px -25px 50px #ffffff;
}

.order_item_cart_image {
  margin-right: 1rem;
  border-radius: $size_4 0 0 $size_4;
}

.order_item_cart_column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 0 0 1rem;
  width: 16rem;
}

.order_item_cart_name {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding-bottom: 0.3rem;
}

.order_item_cart_price {
  font-weight: 400;
  margin: 0;
  padding-top: 0.3rem;
}

.order_item_cart_quantity,
.order_item_cart_total {
  font-size: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.order_item_cart_quantity {
  width: 3rem;
}

.order_item_cart_total {
  width: 6rem;
}
