.single_order_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.single_order_item_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 1rem;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 2rem 0;
}

.single_order_item_date,
.single_order_item_price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 0 1rem 0;
}
