// Sizes
$size_1: 0.2rem;
$size_2: 0.4rem;
$size_3: 0.6rem;
$size_4: 0.8rem;
$size_5: 1rem;
$size_6: 1.2rem;
$size_7: 1.4rem;
$size_8: 1.6rem;
$size_9: 1.8rem;
$size_10: 2rem;
$size_11: 2.2rem;
$size_12: 2.4rem;
$size_13: 2.6rem;
$size_14: 2.8rem;
$size_15: 3rem;
$size_16: 3.2rem;
$size_17: 3.6rem;
$size_18: 4.8rem;
$size_19: 5.2rem;
$size_20: 5.6rem;
$size_21: 6rem;
$size_22: 6.4rem;
$size_23: 7.2rem;
$size_24: 8.4rem;
$size_25: 9.6rem;
$size_26: 10.2rem;
$size_27: 11.4rem;
$size_28: 12.6rem;
$size_29: 13.8rem;
$size_30: 16.4rem;
$size_31: 19.2rem;
$size_32: 20.5rem;
$size_33: 22rem;
$size_34: 24rem;
$size_35: 28rem;
$size_36: 30rem;
$size_37: 32rem;
$size_38: 34rem;
$size_39: 38rem;
$size_40: 40rem;

$desktop_breakpoint_1: 79rem;
$desktop_breakpoint_2: 69rem;
$desktop_breakpoint_3: 31.25rem;
